


<div class="modal fade" role="dialog" id="modal-show" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="t-activity"></h5>
            </div>
            <div class="modal-body">
                
                <table class="table table-light">
                    <tbody >
                        <tr >
                            <td>Приоритет:</td>
                            <td id="t-priority"></td>
                        </tr>
                        <tr >
                            <td>Категория:</td>
                            <td id="t-category"></td>
                        </tr>
                        <tr>
                            <td>Описание:</td>
                            <td id="t-des"></td>

                        </tr>

                        <tr >
                            <td>Дата и время создания:</td>
                            <td id="t-cd"></td>
                        </tr>
                        <tr >
                            <td>Дедлайн:</td>
                            <td id="t-dl"></td>
                            
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="row">

                    <a class="btn btn-primary" asp-action="IndexActivity" asp-controller="Activity">Ok</a>
                </div>

            </div>
        </div>
    </div>
</div>
</div>

